localhost:8080 {
    reverse_proxy auth-app:8000

    header X-Frame-Options DENY
    header X-Content-Type-Options nosniff
    header -Server
}

localhost:80 {
    redir https://localhost:8080{uri} permanent
}
